<a href="https://colab.research.google.com/github/Nathaly-M/ProcessamentoDaInformacao/blob/main/An%C3%A1lise_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# InstruÃ§Ãµes

- Certifique-se que a configuraÃ§Ã£o estÃ¡ correta (Python 3).

In [ ]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from math import sin, cos, sqrt, atan2, radians
df = pd.read_csv("https://www.dropbox.com/s/8tq1bxi8acps36p/latitude-longitude-bairros.csv?dl=1" , sep=";")

def calcula_distancia_km(df, indice_city1, indice_city2):
    lat1, lon1 = df[['latitude','longitude']].loc[indice_city1]
    lat2, lon2 = df[['latitude','longitude']].loc[indice_city2]
    return lat1, lon1, lat2, lon2

def distancia_terra(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = [radians(lat1), radians(lon1), radians(lat2), radians(lon2)]
    dlon, dlat = [lon2 - lon1, lat2 - lat1]
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    d = 6371.0 * 2 * atan2(sqrt(a), sqrt(1 - a)) # 6371.0 = raio aproximado da terra
    return d

indice_city1 = float(input())
indice_city2 = float(input())
lat1, lon1, lat2, lon2 = calcula_distancia_km(df, indice_city1, indice_city2)
print('%.2f' % distancia_terra(lat1, lon1, lat2, lon2))

18520
30214
2244.54

In [ ]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/ng1pa3ch1uq5e4s/fake-classrooms26.csv?dl=1")

def calculaNota(linha):
  m = (linha["Prova 1"] + linha["Prova 2"] + linha["Trabalho"]) / 3
  return m

def c(df, a, b, c, d):
  if (10 >= df['Nota'] >= a):
    return 'A'
  elif a > df['Nota'] >= b:
    return 'B'
  elif b > df['Nota'] >= c:
    return 'C'
  elif c > df['Nota'] >= d:
    return 'D'
  elif d > df['Nota']:
    return 'F'

def formataConceito(df):
  hist = df['Conceito'].value_counts()
  resp = ''
  if 'A'  in hist.keys(): # verifica se tem algum conceito A
    resp += 'A: %d\n' % hist['A']
  if 'B' in hist.keys():
    resp += 'B: %d\n' % hist['B']
  if 'C' in hist.keys():
    resp += 'C: %d\n' % hist['C']
  if 'D' in hist.keys():
    resp += 'D: %d\n' % hist['D']
  if 'F' in hist.keys():
    resp += 'F: %d\n' % hist['F']
  return str(resp)

notaA = float(input())
notaB = float(input())
notaC = float(input())
notaD = float(input())
df['Nota'] = df.apply(calculaNota, axis=1)
df['Conceito'] = df.apply(c, axis=1, args=[notaA, notaB, notaC, notaD])
print(formataConceito(df))

7.9
7.1
5.9
4.6
B: 2
C: 17
D: 10
F: 1

In [ ]:
#ðŸ‘¾

import pandas as pd
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/54k7jbnwkb4wgzo/fake-classrooms18.csv?dl=1")
x = input()
r = df[x].values.var()
print('%.2f' % r)

Prova 1
1.74

In [2]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/6ovye11b21lyrcu/fake-mercado16.csv?dl=1")
x = input()
df1 = df[df.Categoria == x]
df2 = df1[df1.Valor < 3]
a = df2.values.tolist()
print("Item; Valor; Quantidade")

for lista in a:
  print(lista[1], ";", lista[2], ";", lista[3])

Limpeza
Item; Valor; Quantidade
Sabao em po ; 1.98 ; 7
Limpa vidros ; 1.65 ; 8
Alcool ; 2.04 ; 5

In [ ]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df1 = pd.read_csv("https://www.dropbox.com/s/6ovye11b21lyrcu/fake-mercado16.csv?dl=1")
df2 = pd.read_csv("https://www.dropbox.com/s/3ct29fo86g3vynx/fake-mercado01.csv?dl=1")
df3 = pd.read_csv("https://www.dropbox.com/s/da1l9hbe8f0sgy8/fake-mercado19.csv?dl=1")
mercado = [df1, df2, df3]

registro = []
for x in range(0,7):
  a = input()
  itens = []
  for z in range(0,3):
    filtro = mercado[z].query("Item == '"+a+"'").values.tolist()
    itens.append(filtro)
  registro.append(itens)

lista = []
for itens in registro:
  valor = []
  for mercado in itens:
    for colunas in mercado:
      valor.append(colunas[2])
  m = min(valor)
  for y in range(0,3):
    if (valor[y] == m):
      n = y + 1            #mercado com menor valor
      lista.append([colunas[0], colunas[1], m, n])

df_novo = pd.DataFrame(lista, columns=['Categoria', 'Item', 'Menor Valor', 'Mercado'])
df_novo.sort_values(by= ['Categoria', 'Item'], inplace=True)
print(df_novo.to_string(index=False))

Agua sanitaria
Suco caixinha 500ml
Buchinha de pia
Espinafre
Alface
Milho de pipoca
Leite em po
   Categoria                 Item  Menor Valor  Mercado
 Alimentacao          Leite em po         2.58        3
 Alimentacao      Milho de pipoca         2.32        3
     Bebidas  Suco caixinha 500ml         5.10        3
  Hortifruti               Alface         2.43        3
  Hortifruti            Espinafre         8.48        3
     Limpeza       Agua sanitaria         1.80        3
     Limpeza      Buchinha de pia         3.83        3

In [ ]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/i554mvb8b3ubpcx/fake-mercado20.csv?dl=1")
t = 0
lista = []
for i in range(0,10):
  a = input()
  a = df.query("Item =='"+a+"'").values.tolist()
  lista.append(a)

todos = []
for itens in lista:
  for item in itens:
    if item[3] > 2:
      subtotal =  item[2] * 2
      item[3] = 2
    else:
      subtotal = item[2] * item[3]
    todos.append([item[0], item[1], item[2], item[3], subtotal])

df_novo = pd.DataFrame(todos, columns=['Categoria', 'Item', 'Valor', 'Quantidade', 'Subtotal'])
df_novo.sort_values(by= ['Categoria', 'Item'], inplace=True)
print(df_novo.to_string(index=False))

Chuchu
Ervilha
Couve
   Categoria     Item  Valor  Quantidade  Subtotal
 Alimentacao  Ervilha   5.24           2     10.48
  Hortifruti   Chuchu   6.48           1      6.48
  Hortifruti    Couve   3.23           2      6.46

In [ ]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/tcbxw0s0edp3ghm/fake-mercado14.csv?dl=1")
x = input()
df1 = df[df.Categoria == x]
df2 = df1[df1.Quantidade == 2]
df2["Gasto"] = (df1["Valor"] * 10)
a = df2.values.tolist()
print("Item; Valor; Quantidade; Gasto")

for lista in a:
  print(lista[1], ";", lista[2], ";", lista[3], ";", '%.2f' % lista[4])

b = df2["Gasto"].sum()
print("Total gasto para repor os estoques: " '%.2f' % b)

In [ ]:
#ðŸ‘¾

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("https://www.dropbox.com/s/cpo4eyqoztwn3nc/fake-classrooms-correl07.csv?dl=1")
coluna = input()
df2 = pd.DataFrame([df['Nota Final'], df[coluna]]).transpose()
df2_max = df2.max()
normalizado = df2/df2_max
print(str(normalizado.head()))

Faltas
   Nota Final    Faltas
0       0.000  0.916667
1       0.000  1.000000
2       0.750  0.333333
3       1.000  0.208333
4       0.125  0.583333

In [ ]:
#ðŸ‘¾

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("https://www.dropbox.com/s/i0wm90ln9zarj7k/fake-classrooms-correl11.csv?dl=1")
coluna = input()
tab_XY = df[['Nota Final', coluna]]
(a, b) = np.polyfit(x=tab_XY[coluna], y=tab_XY['Nota Final'], deg=1)
modelo = a*df[coluna]+b
n = modelo.rename('Estimativa')
df2 = pd.DataFrame([df['Nota Final'], n]).transpose()
print(str(df2.head()))

In [ ]:
#ðŸ‘¾

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/i554mvb8b3ubpcx/fake-mercado20.csv?dl=1")
t = 0
lista = []
for i in range(0,10):
  a = input()
  a = df.query("Item =='"+a+"'").values.tolist()
  lista.append(a)

todos = []
for itens in lista:
  for item in itens:
    if item[3] > 2:
      subtotal =  item[2] * 2
      item[3] = 2
    else:
      subtotal = item[2] * item[3]
    todos.append([item[0], item[1], item[2], item[3], subtotal])

df_novo = pd.DataFrame(todos, columns=['Categoria', 'Item', 'Valor', 'Quantidade', 'Subtotal'])
df_novo.sort_values(by= ['Categoria', 'Item'], inplace=True)
print(df_novo.to_string(index=False))

Chuchu
Ervilha
Couve
   Categoria     Item  Valor  Quantidade  Subtotal
 Alimentacao  Ervilha   5.24           2     10.48
  Hortifruti   Chuchu   6.48           1      6.48
  Hortifruti    Couve   3.23           2      6.46

# ðŸ‘¾ Algumas das tabelas disponiveis para visualizaÃ§Ã£o abaixo:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from math import sin, cos, sqrt, atan2, radians
df = pd.read_csv("https://www.dropbox.com/s/8tq1bxi8acps36p/latitude-longitude-bairros.csv?dl=1" , sep=";")
df

       id_municipio  id_bairro  uf  ...         bairro  longitude   latitude
0                 2      42570  AC  ...         Centro -67.842841  -9.979536
1                 3      42571  AC  ...         Centro -50.420166 -22.665752
2                 4      42572  AC  ...         Centro -67.842841  -9.979536
3                 5      42573  AC  ...         Centro -67.826803  -9.935254
4                 6      42574  AC  ...         Centro -67.828711  -9.981754
...             ...        ...  ..  ...            ...        ...        ...
36977          5509      79456  TO  ...  Setor Central -48.199348  -7.162354
36978          5511      79457  TO  ...  Setor Central -48.188751  -8.972086
36979          5512      79458  TO  ...  Setor Central -48.128170  -8.394286
36980          5513      79459  TO  ...  Setor Central -47.960563  -6.853138
36981          5514      79460  TO  ...    Setor Leste -48.532401  -6.414497

[36982 rows x 7 columns]

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("https://www.dropbox.com/s/i554mvb8b3ubpcx/fake-mercado20.csv?dl=1")
df

         Categoria            Item  Valor  Quantidade
0          Limpeza     Sabao em po   6.79           9
1          Limpeza       Amaciante   2.45           9
2          Limpeza      Detergente   8.31           4
3          Limpeza  Agua sanitaria   1.50           9
4          Limpeza  Esponja de aco   2.03           1
..             ...             ...    ...         ...
82  Carnes e Frios           Peixe   3.38           9
83  Carnes e Frios          Frango   8.84           9
84  Carnes e Frios  Carne vermelha   7.68           2
85  Carnes e Frios      Carne seca   6.67           9
86  Carnes e Frios        Salsicha   6.84           6

[87 rows x 4 columns]